body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main {
 flex-grow: 1;
}

.navbar-bg {
    background-color: #001D3D !important;
}
.nav-item a{
    color: rgba(255, 255, 255, 0.372)!important;
}

.nav-item .active{
   
    color:rgb(255, 255, 255) !important;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

footer {
    background-color:#00408f;
    color: white;
    padding: 20px 0;
    margin-top: 20px;
}

footer a {
    color: #f3f3f3;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
.card-products {
    border-radius: 10px;
    border-color: #001D3D;
    
}

.card-img-top{
   width: 150px;
}

.carousel-img{
    min-width: 300px;
    max-height: 300px;
    padding: 10px;
    

}
 
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #00408f;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color:#00408f;
}